<% if alert %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="alert"><%= alert %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if notice %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel green">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="notice"><%= notice %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<h1>Expense Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @expense_types.each do |expense_type| %>
      <tr>
        <td><%= expense_type.name %></td>
        <td><%= link_to 'Show', expense_type %></td>
        <td><%= link_to 'Edit', edit_expense_type_path(expense_type) %></td>
        <td><%= link_to 'Destroy', expense_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense Type', new_expense_type_path %>
