<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<h1>Incomes</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Resident</th>
      <th>Date time</th>
      <th>Payment type</th>
      <th>Income type</th>
      <th>Month</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td><%= income.resident.name %></td>
        <td><%= income.date_time %></td>
        <td><%= income.payment_type.name %></td>
        <td><%= income.income_type.name %></td>
        <td><%= income.month %></td>
        <td><%= income.description %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income', new_income_path %>
