<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Amount:</strong>
  <%= @income.amount %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @income.resident.name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @income.date_time %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @income.payment_type.name %>
</p>

<p>
  <strong>Income type:</strong>
  <%= @income.income_type.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @expense.month %>
</p>

<p>
  <strong>Month:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
