<%= form_for(resident) do |f| %>
  <% if resident.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="error_explanation">
        <h2><%= pluralize(resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

        <ul>
        <% resident.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flat_no %>
    <%= f.number_field :flat_no %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <label>Number of people in family</label>
    <%= f.number_field :family %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <label>Select Resident: </label>
    <%= f.collection_select :resident_type_id, ResidentType.all , :id, :name, include_blank: "Select Resident Type" %> <br><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
