<p id="notice"><%= notice %></p>

<h1>Residents</h1>

<table>
  <thead>
    <tr>
      <th>Flat no</th>
      <th>Name</th>
      <th>Family</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Resident type</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.flat_no %></td>
        <td><%= resident.name %></td>
        <td><%= resident.family %></td>
        <td><%= resident.email %></td>
        <td><%= resident.phone %></td>
        <td><%= resident.resident_type.name%></td>
        <td><%= link_to 'Show', resident %></td>
        <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
        <td><%= link_to 'Destroy', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resident', new_resident_path %>
