<p id="notice"><%= notice %></p>

<p>
  <strong>Flat no:</strong>
  <%= @resident.flat_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resident.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @resident.family %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resident.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resident.phone %>
</p>

<p>
  <strong>Resident type:</strong>
  <%= @resident.resident_type_id %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
