<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Flat no:</strong>
  <%= @resident.flat_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resident.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @resident.family %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resident.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resident.phone %>
</p>

<p>
  <strong>Resident type:</strong>
  <%= @resident.resident_type.name %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
