<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @resident_type.name %>
</p>

<%= link_to 'Edit', edit_resident_type_path(@resident_type) %> |
<%= link_to 'Back', resident_types_path %>
