<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<div class="row">
	<div class="col-md-3">
    <div class="box" style="background-color: #B71C1C">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Total Flats</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 center">
                <h1><span class="glyphicons glyphicons-building"></span></h1>
              </div>
              <div class="col-md-6 center">
                <h1>33</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
	</div>
  <div class="col-md-3">
    <div class="box" style="background-color: #880E4F">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Occupied</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 center">
                <h1><span class="glyphicons glyphicons-home"></span></h1>
              </div>
              <div class="col-md-6 center">
                <h1><%= @total_flats %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-md-3">
    <div class="box" style="background-color: #4A148C">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Owners</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 center">
                <h1><span class="glyphicons glyphicons-old-man"></span></h1>
              </div>
              <div class="col-md-6 center">
                <h1><%= @owners %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-md-3">
    <div class="box" style="background-color: #0D47A1">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Tenants</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 center">
                <h1><span class="glyphicons glyphicons-user-add"></span></h1>
              </div>
              <div class="col-md-6 center">
                <h1><%= @tenants %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div> 

<div class="row gap">
  <div class="col-md-3">
    <div class="box" style="background-color: #01579B">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h2>Total Residents</h2>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 center">
                <h1><span class="glyphicons glyphicons-group"></span></h1>
              </div>
              <div class="col-md-6 center">
                <h1><%= @total_residents %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-md-3">
    <div class="box" style="background-color: #006064"> 
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Expenses</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 center">
                <h1><%= @total_expenses %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-md-3">
    <div class="box" style="background-color: #004D40">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Incomes</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 center">
                <h1><%= @total_incomes %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-md-3">
    <div class="box" style="background-color: #1B5E20">
      <div class="small-container text-center">
        <div class="row">
          <div class="col-md-12 center">
            <h1>Balance</h1>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 center">
                <h1><%= @balance %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div> 

<div class="row gap">
  <div class="col-md-6">
    <div class="big-box" style="background-color: #C5CAE9">
      <h2>Residents who have paid maintenance this month</h2>
      <table>
        <thead>
          <tr>
            <th>Flat no</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Payment Type</th>
          </tr>
        </thead>

        <tbody>
          <% @paid_residents.each do |income|%>
            <tr>
              <td><%= income.resident.flat_no %></td>
              <td><%= income.resident.name %></td>
              <td><%= income.amount %></td>
              <td><%= income.date_time.to_date %></td>
              <td><%= income.payment_type.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="big-box" style="background-color: #BBDEFB">
      <h2>Residents who have not paid maintenance this month</h2>
      <% unless @unpaid_residents.nil? || @unpaid_residents == 0 %>
        <table>
          <thead>
            <tr>
              <th>Flat no</th>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>
            <% @unpaid_residents.each do |resident|%>
              <tr>
                <td><%= resident.flat_no %></td>
                <td><%= resident.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <a class="list-group-item">None</a>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="big-box" style="background-color: #B3E5FC">
      <h2>Residents who have paid corpus fund</h2>
      <table>
        <thead>
          <tr>
            <th>Flat no</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Payment Type</th>
          </tr>
        </thead>

        <tbody>
          <% @corpus_fund_paid.each do |income|%>
            <tr>
              <td><%= income.resident.flat_no %></td>
              <td><%= income.resident.name %></td>
              <td><%= income.amount %></td>
              <td><%= income.date_time.to_date %></td>
              <td><%= income.payment_type.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="big-box" style="background-color: #B2DFDB">
      <h2>Residents who have not paid corpus fund</h2>
        <table>
          <thead>
            <tr>
              <th>Flat no</th>
              <th>Name</th>
            </tr>
          </thead>

          <tbody>
            <% @corpus_fund_unpaid.each do |resident|%>
              <tr>
                <td><%= resident.name %></td>
                <td><%= resident.flat_no %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>