<%= form_for(expense) do |f| %>
  <% if expense.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="error_explanation">
        <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

        <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <label>Select Expense Type: </label>
    <%= f.collection_select :expense_type_id, ExpenseType.all , :id, :name, include_blank: "Select Expense" %> <br><br>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <label>Select Payment Type: </label>
    <%= f.collection_select :payment_type_id, PaymentType.all , :id, :name, include_blank: "Select Payment" %> <br><br>
  </div>

  <div class="field">
    <%= f.label :date_time %>
    <%= f.datetime_select :date_time %>
  </div>

  <div class="field">
    <%= f.label :month %>
    <%= f.select :month, ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], include_blank: "Select Month" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
