<% if alert %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="alert"><%= alert %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if notice %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel green">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="notice"><%= notice %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<p>
  <strong>Expense type:</strong>
  <%= @expense.expense_type.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @expense.payment_type.name %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @expense.date_time %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
