<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Balance</th>
      <th>Withdraw</th>
      <th>Deposit</th>
      <th>Trans for</th>
      <th>Type</th>
      <th>Date</th>
      <th>Created At</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.balance %></td>
        <td><%= account.withdraw %></td>
        <td><%= account.deposit %></td>
        <td><%= account.trans_for %></td>
        <td><%= account.trans_type %></td>
        <td><%= account.date %></td>
        <td><%= account.created_at %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
