<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>
<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Withdraw:</strong>
  <%= @account.withdraw %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @account.deposit %>
</p>

<p>
  <strong>Trans for:</strong>
  <%= @account.trans_for %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.trans_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @account.date %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
