<% if alert %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="alert"><%= alert %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<% if notice %>
  <div class="alert">
    <div class="row">
      <div class="col s12">
        <div class="card-panel green">
          <span class="white-text">         
            <div id="error_explanation">
               <p id="notice"><%= notice %></p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div> 
<% end %>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Withdraw:</strong>
  <%= @account.withdraw %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @account.deposit %>
</p>

<p>
  <strong>Trans for:</strong>
  <%= @account.trans_for %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.trans_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @account.date %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
